.conteyner_form {
    margin: 0;
    height: 85vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

form {
    width: 300px; 
    padding: 20px; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}